article.mdl-card {
  min-height: inherit;
  cursor: pointer;

  &.saved {
    border: 2px solid $outline-colour;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.mdl-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}
.card-image__title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
