article.mdl-card {
  min-height: inherit;
  cursor: pointer;

  &.saved {
    .card-image__saved {
      color: #F00;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.mdl-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}

.card-image {
  color: #FFF;
  font-weight: 500;

  &__title {
    float: left;
    font-size: 1em;
  }

  &__saved {
    float: right;
    font-size: 1em;
  }
}
