body {
  font-family: $primary-font;
  background: $background-colour;
}

section.content {
  width: 85%;
  margin: 0 auto;

  &.mdl-grid {
    align-items: center;
  }
}

@import 'loader';
@import 'cards';
@import 'search';
