.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search form {
  max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px;
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(225, 225, 225, 0.2);
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.mdh-expandable-search input:-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.mdh-expandable-search input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.mdh-expandable-search input:-ms-input-placeholder {
  color: #FFFFFF;
}

@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 40px 0 40px;
  }
}

.mdl-badge[data-badge]:after {
  right: -7px;
  top: -8px;
}
